<h2>Thanks for your purchase!</h2>

<h3>Order Receipt</h3>
<h4><strong>Product:</strong> $product.getName()</h4>
<p><strong>Price:</strong> $transaction.getSalePrice()</p>
<p><strong>Date:</strong> $transaction.getFormattedDate()</p>

<h4><strong>Shipping Details</strong></h4>
<p><strong>Name:</strong> $customer.getName()</p>
<p><strong>Address:</strong> $customer.getAddress()</p>
<p><strong>Email:</strong> $customer.getEmail()</p>

<p><strong>Fine print:</strong> No returns!</p>
